In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv("train_final3.csv",index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10

In [3]:
labels=df_train[['784']]
labels

       784
0       10
1       10
2       10
3       10
4       10
...    ...
67448   13
67449   13
67450   13
67451   13
67452   13

[67453 rows x 1 columns]

In [4]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input,Dense
from keras.models import Sequential
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [6]:
labels=np.array(labels)
len(labels)
labels

array([[10],
       [10],
       [10],
       ...,
       [13],
       [13],
       [13]], dtype=int64)

In [7]:
df_train

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67448,200,200,55,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67449,55,55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67450,0,133,58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=14)

In [9]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
l=[]
for i in range(67453):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [11]:
len(l)

67453

In [12]:
np.random.seed(7)

In [13]:
model=Sequential()
model.add(Conv2D(30,(5,5),input_shape=(28,28,1),activation="relu"))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(15,(3,3),activation="relu"))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128,activation='relu'))
model.add(Dense(50,activation='relu'))
model.add(Dense(14,activation='softmax'))

In [14]:
model.compile(loss="categorical_crossentropy",optimizer='adam',metrics=['accuracy'])

In [15]:
model.fit(np.array(l),cat,shuffle=True,epochs=10)

Epoch 1/10
2108/2108 [==============================] - 26s 12ms/step - loss: 0.5566 - accuracy: 0.8412
Epoch 2/10
2108/2108 [==============================] - 26s 12ms/step - loss: 0.1795 - accuracy: 0.9467
Epoch 3/10
2108/2108 [==============================] - 26s 12ms/step - loss: 0.1294 - accuracy: 0.9609
Epoch 4/10
2108/2108 [==============================] - 26s 12ms/step - loss: 0.1037 - accuracy: 0.9695
Epoch 5/10
2108/2108 [==============================] - 26s 13ms/step - loss: 0.0882 - accuracy: 0.9732
Epoch 6/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0785 - accuracy: 0.9761
Epoch 7/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0677 - accuracy: 0.9796
Epoch 8/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0654 - accuracy: 0.9805
Epoch 9/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0600 - accuracy: 0.9823
Epoch 10/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0554 - accuracy: 0.9835

In [16]:
model.fit(np.array(l),cat,shuffle=True,epochs=10)

Epoch 1/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0536 - accuracy: 0.9840
Epoch 2/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0498 - accuracy: 0.9853
Epoch 3/10
2108/2108 [==============================] - 27s 13ms/step - loss: 0.0476 - accuracy: 0.9855
Epoch 4/10
2108/2108 [==============================] - 28s 13ms/step - loss: 0.0470 - accuracy: 0.9862
Epoch 5/10
2108/2108 [==============================] - 30s 14ms/step - loss: 0.0430 - accuracy: 0.9872
Epoch 6/10
2108/2108 [==============================] - 33s 16ms/step - loss: 0.0437 - accuracy: 0.9879
Epoch 7/10
2108/2108 [==============================] - 33s 16ms/step - loss: 0.0424 - accuracy: 0.9877
Epoch 8/10
2108/2108 [==============================] - 31s 15ms/step - loss: 0.0391 - accuracy: 0.9887
Epoch 9/10
2108/2108 [==============================] - 29s 14ms/step - loss: 0.0424 - accuracy: 0.9878
Epoch 10/10
2108/2108 [==============================] - 30s 14ms/step - loss: 0.0389 - accuracy: 0.9886

In [17]:
model.fit(np.array(l),cat,shuffle=True,epochs=5)

Epoch 1/5
2108/2108 [==============================] - 31s 15ms/step - loss: 0.0404 - accuracy: 0.9886
Epoch 2/5
2108/2108 [==============================] - 32s 15ms/step - loss: 0.0373 - accuracy: 0.9892
Epoch 3/5
2108/2108 [==============================] - 30s 14ms/step - loss: 0.0371 - accuracy: 0.9896
Epoch 4/5
2108/2108 [==============================] - 31s 14ms/step - loss: 0.0359 - accuracy: 0.9901
Epoch 5/5
2108/2108 [==============================] - 31s 15ms/step - loss: 0.0340 - accuracy: 0.9905

In [18]:
model.fit(np.array(l),cat,shuffle=True,epochs=5)

Epoch 1/5
2108/2108 [==============================] - 37s 18ms/step - loss: 0.0389 - accuracy: 0.9898
Epoch 2/5
2108/2108 [==============================] - 39s 18ms/step - loss: 0.0344 - accuracy: 0.9907
Epoch 3/5
2108/2108 [==============================] - 39s 18ms/step - loss: 0.0358 - accuracy: 0.9901
Epoch 4/5
2108/2108 [==============================] - 35s 17ms/step - loss: 0.0328 - accuracy: 0.9910
Epoch 5/5
2108/2108 [==============================] - 37s 18ms/step - loss: 0.0324 - accuracy: 0.9915

In [70]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
model.save_weights("model_final.h5")

In [19]:
import cv2

In [64]:
img=cv2.imread("C:/Users/HP/Documents/hand written poly equation solver/test1.png",cv2.IMREAD_GRAYSCALE)
cv2.imshow("w",img)
cv2.waitKey(0)
cv2.destroyAllWindows()
if img is not None:
    img=~img
    _,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs,_=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs,key=lambda ctr:cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    rects=[]
    for c in cnt:
        x,y,w,h=cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print("rects",rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and rec[1]<(r[1]+r[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print('bools',bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print("dump_rects",dump_rect)
    final_rect=[i for i in rects if i not in dump_rect]
    print("final rects",final_rect)
    for r in final_rect:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop=thresh[y:y+h+10,x:x+w+10]
        im_resize=cv2.resize(im_crop,(28,28))
        cv2.imshow("work",im_resize)
        cv2.waitKey(0)
        cv2.destroyAllWindows()
        train_data.append(im_resize)

rects [[137, 167, 122, 225], [341, 178, 216, 160], [630, 175, 155, 165], [835, 160, 149, 190]]
bools [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
dump_rects []
final rects [[137, 167, 122, 225], [341, 178, 216, 160], [630, 175, 155, 165], [835, 160, 149, 190]]

In [65]:
s=""
for i in range(len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape(1,28,28,1)
    result=model.predict_classes(train_data[i])
    if(result[0]==10):
        s=s+'-'
    if(result[0]==11):
        s=s+'+'
    if(result[0]==12):
        s=s+'X'
    if(result[0]==13):
        s=s+'='
    if(result[0]==0):
        s=s+'0'
    if(result[0]==1):
        s=s+'1'
    if(result[0]==2):
        s=s+'2'
    if(result[0]==3):
        s=s+'3'
    if(result[0]==4):
        s=s+'4'
    if(result[0]==5):
        s=s+'5'
    if(result[0]==6):
        s=s+'6'
    if(result[0]==7):
        s=s+'7'
    if(result[0]==8):
        s=s+'8'
    if(result[0]==9):
        s=s+'9'
print(s)

3X+5

In [66]:
def printEq(x):
    flag=0
    for i in range(len(x)):
        if flag==1:
            flag=0
            continue
        if i!=len(x)-1 and x[i]=='X'and x[i+1]!='-' and x[i+1]!='+' and x[i+1]!='*':
            print('X^'+str(x[i+1]), end=" ")
            flag=1
        else :
            print(x[i], end=" ")

In [67]:
def highdegree(x):
    Max=1
    for i in range(len(x)):
        if i!=len(x)-1 and x[i]=='X' and x[i+1]!='-' and x[i+1]!='+' and x[i+1]!='*':
            Max=max(Max,x[i+1])
    return Max

In [68]:
def solution(x):
    printEq(x)
    print("")
    degree=highdegree(x)
    eq=np.ones(degree+1)
    ind=0
    for k in range(degree+1):
        #find constant term
        if k==0 :
            for i in range(len(x)):
                #x not infront , x not in back
                if i==0:
                    if x[i+1]!='X' and int(x[i])<10:
                        eq[degree-k]=x[i]
                        break
                if i==len(x)-1:
                    if x[i-1]=='-':
                        eq[degree-k]=float(x[i])*-1
                        break
                    else:
                        eq[degree-k]=x[i]
                        break
                if x[i+1]!='X' and x[i-1]!='X' and x[i].isdigit():
                    if x[i-1]=='-':
                        eq[degree-k]=float(x[i])*-1
                        break
                    else:
                        eq[degree-k]=x[i]
                        break
        if k==1:
            for i in range(len(x)):
                if i==len(x)-2:
                    eq[degree-k]=x[i]
                if(i<len(x)-2):    
                    if x[i+1]=='X' and x[i].isdigit():
                        if(not (x[i+2].isdigit())):
                            if x[i-1]=='-':
                                eq[degree-k]=float(x[i])*-1
                                break
                            else:
                                eq[degree-k]=x[i] 
                                break
                else:
                    eq[degree-k]=x[i-1]      
        if k>1:
            for i in range(2,len(x)):
                if int(x[i])==k and x[i-1]=='X':
                    eq[degree-k]=x[i-2]
                    break
    #Print and return ans
    print(eq)
    print(np.roots(eq))
    return np.roots(eq)

In [69]:
solution(list(s))

3 X + 5
[3. 5.]
[-1.66666667]

array([-1.66666667])